.button-basic {
  letter-spacing: 0.6px;
  text-align: center;
  font-size: 1.6em;
  font-family: "Adelle", sans-serif;
  height: 60px;
  border-radius: 37px;
  text-transform: uppercase;
  margin: 1em;
  font-weight: 100;
  padding: 0 25px;
}

.give-donation {
  background-color: $orange;
  color: $base-color;
  border-color: transparent;
}

.share {
  background-color: $yellow;
  color: $base-color;
  border-color: transparent;
}

.scroll-down {
  border-color: transparent;
  margin: 0;
}

.meet-pets {
    background-color: $base-color;
    border-color: $yellow;
    color: $yellow;

    img {
      margin-left: 5px;
      width: 52px;
      height: 36px;
    }
  @media all and (max-width: 991px) {
    display: none;
  }
}

.support-donation,
.support-share {
  background-color: $base-color;
  border-color: $base-color;
  color: $yellow;
  font-size: 14px;
}

.support-donation {
  @media all and (max-width: $max-mobile) {
    width: 100%;
  }
}

.support-share {
  @media all and (max-width: $max-mobile) {
    width: 100%;
  }
}

.back-to-page {
  background-color: $orange;
  color: $base-color;
  border-color: transparent;
  font-size: 12px;
  align-self: flex-end;
}
