@font-face {
  font-family: 'Adelle';
  src: url('../../fonts/Adelle_Reg.otf') format('otf');
  font-weight: normal;
}

@font-face {
  font-family: 'Adelle-light';
  src: url('../../fonts/Adelle_light.otf') format('otf');
}

@font-face {
  font-family: 'Adelle-bold';
  src: url('../../fonts/Adelle_Bold.otf') format('otf');
}
