@font-face {
  font-family: 'Adelle';
  src: url('../../fonts/Adelle_Reg.otf') format('otf');
  font-weight: normal;
}

@font-face {
  font-family: 'AdelleLight';
  src: url('../../fonts/Adelle_light.otf') format('otf');
}

@font-face {
  font-family: 'Adelle_Semibold';
  src: url('../../fonts/Adelle_Semibold.otf') format('otf');
}
