footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 100vh;

    .column {
      min-height: 80vh;
      @media all and (max-width: $max-mobile) {
        min-height: 90vh;
      }
    }

    .column img {
      width: 259px;
      height: 209px;
    }

    .footer-logos {
      min-height: 20vh;
      @media all and (max-width: $max-mobile) {
        min-height: 10vh;
      }
    }

    .join-x {
      margin: 0 2em;
    }
}
