//Grid z drobnymi zmianami pożyczony https://gist.github.com/faliah/bde30bf99b33533b5438
//Ostatecznie ze względu na małą liczbę elementów, które miały się przemieszczać nie wykorzystany

// breakpoints map
$breakpoints: (
  xs: 32rem,
  sm: 48rem,
  md: 72rem,
  lg: 96rem,
  xl: 102rem,
  xx: 120rem
);

// media query mixin
@mixin break($size) {
  @media (min-width: map-get($breakpoints, $size)) {
    @content;
  }
}

// number of columns variable
$items: 12;

.grid {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 1rem;
}

.grid-item {
  padding: 0.5rem;
  margin: 1em;
}

// loop over the breakpoints
@each $key, $value in $breakpoints {
  @for $i from 1 through $items {
    .col-#{$key}-#{$i} {
      flex: 0 0 100%;
      @include break($key) {
        flex: 0 0 #{($i / $items * 100%)-5%};
      }
    }
  }
}
