header {
  height: 100vh;
  background-image: url("../../images/header-lg-monitor.png");
  background-position: center;
  background-size: cover;
  @media all and (max-width: $max-small-monitor) {
    background-image: url("../../images/header-small-monitor.png");
  }
  @media all and (max-width: $max-tablet) {
    background-image: url("../../images/header-tablet.png");
  }
  @media all and (max-width: $max-mobile) {
    background-image: url("../../images/header-mobile.png");
  }
}

header .logo {
  height: 28em;
  width: 32em;
  margin: 2em 0;
}

.headerButtons {
  margin-bottom: 9em;
}

.buttons-right {
  margin-left: 50%;
  margin-top: 50px;
  width: 50%;
  display: flex;
  justify-content: space-between;
  @media all and (max-width: $max-tablet-vertical) {
    left: 0;
    width: 100%;
    margin-left: 0;
    margin-top: 0;
    justify-content: center;
  }
}
