header {
  height: 100vh;
  background-image: url("../../images/header-lg-monitor.png");
  background-position: center;
  background-size: cover;
  @media all and (max-width: 1199px) {
    background-image: url("../../images/header-small-monitor.png");
  }
  @media all and (max-width: 768px) {
    background-image: url("../../images/header-tablet.png");
  }
  @media all and (max-width: 575px) {
    background-image: url("../../images/header-mobile.png");
  }
}

header .logo {
  height: 28em;
  width: 32em;
  margin: 2em 0;
}

.headerButtons {
  margin-bottom: 9em;
}

.buttons-right {
  position: absolute;
  bottom: 50px;
  left: 50%;
  width: 50%;
  display: flex;
  justify-content: space-between;
  @media all and (max-width: 991px) {
    left: 0;
    width: 100vw;
    justify-content: center;
  }
}
